    .container > .navbar-header, .container-fluid > .navbar-header,
     .container > .navbar-collapse, .container-fluid > .navbar-collapse
    {
        color:#08526d;
        background:#FFF;
   
     }
    .navbar-toggle
    {
       background:#08526d;
       color:#FFF;
   }
    .navbar{
        margin-bottom:0px;
    }
   .navbar-nav > li>a:hover{
     
       color:#ed393e;
       background:#FFF;
       transition:all 0.5s ease-in-out;
   }
  