@{
    ViewBag.Title = "Home Page";
}
<link rel="stylesheet" href="~/Content/style3.css" />
<link href="~/Content/hover.css" rel="stylesheet" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">


<!--Start slider-->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/Content/images design/adults-coffee-colleagues-1323592.jpg" alt="...">
            <div class="carousel-caption" style="padding-top:100px;padding-bottom:80px;margin-bottom:200px;text-shadow:5px 5px 5px #08526d">
                <div class="lead" style="font-size:80px ">
                    <span style="background:#ed393e;padding:20px; border-radius:5px ">Create</span> a test for your products
                </div>
            </div>
        </div>
        <div class="item">
            <img src="~/Content/images design/blurred-background-coffee-cup-contemporary-908284.jpg" alt="...">
            <div class="carousel-caption" style="padding-top:100px;padding-bottom:80px;margin-bottom:150px;text-shadow:5px 5px 5px #08526d">
                <div class="lead" style="font-size:80px ">
                    <span style="background:#ed393e;padding:20px; border-radius:5px ">Create</span>  optional and textual tests
                </div>
            </div>
        </div>

        <div class="item">
            <img src="~/Content/images design/camera-coffee-composition-1509428.jpg" alt="...">
            <div class="carousel-caption" style=";padding-top:100px;padding-bottom:100px;margin-bottom:200px;text-shadow:5px 5px 5px #08526d">
                <div class="lead" style="font-size:80px ">
                    <span style="background:#ed393e;padding:20px; border-radius:5px ">Create</span>school and university test
                </div>
            </div>
        </div>
    </div>
    <!-- Controls -->

</div>
<!--end slider-->
<!--start feature-->
<div class="feature text-center" style="padding:50px 0;">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <i class="far fa-bell fa-3x hvr-push" style="background:#F00 ;color:#FFF; width:100px;height:100px ;line-height:100px;border-radius:50% "></i>
                <h1 style="color:#08526d">Notifications</h1>
                <div>You can see the notification and the time you received the alerts</div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <i class="fas fa-compress fa-3x hvr-push" style="background:#F00 ;color:#FFF; width:100px;height:100px ;line-height:100px;border-radius:50%"></i>
                <h1 style="color:#08526d">responsive</h1>
                <div>The site works responsibly and interactively on all screens without any performance problems</div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <i class="fas fa-cog fa-3x hvr-push" style="background:#F00 ;color:#FFF; width:100px;height:100px ;line-height:100px;border-radius:50% "></i>
                <h1 style="color:#08526d">settings</h1>
                <div>You do not need to adjust too many settings.Sign in and start working</div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <i class="fas fa-chart-pie fa-3x hvr-push" style="background:#F00 ;color:#FFF; width:100px;height:100px ;line-height:100px; border-radius:50%;"></i>
                <h1 style="color:#08526d">Diagram</h1>
                <div>You can get your results graphically</div>
            </div>
        </div>
    </div>
</div>
<!--end feature-->
<!--start overview-->
<div class="overview" style="background:#f0f5f7;">
    <div class="row">
        <div class="container">
            <div class="text-center">
                <h1 class="hvr-grow-shadow" style="font-weight:bold;background:#08526d;color:#FFF;padding:10px; width:500px; margin:50px auto; border-radius:10px;   ">website overview</h1>
                <div class="lead" style="line-height:200%">
                    We can now create and manage questionnaires.<br />
                    There is a system for reviewing the statistics.<br />
                    The possibility of testing online
                </div>
            </div>
        </div>
    </div>
</div>
<!--end overview-->
<!--start feature work-->
<div class="featureWork text-center" style="padding:20px 0">
    <div class="row">
        <div class="container">
            <div class="col-lg-12">
                <h1 style="font-weight:bold">featured work</h1>
                <div class="lead" style="line-height:200%">
                    Work includes an integrated environment for the best expected results.
                    You can send links to people you know to take their opinions on certain topics.
                    And to obtain these results in a meaningful way
                </div>
                <ul class="list-unstyled row">
                    <li class="col-sm-3 hvr-shutter-in-horizontal" style="border:1px solid #AAA;padding:10px;color:#08526d;font-size:20px;cursor:pointer">my surveys</li>
                    <li class="col-sm-3 hvr-shutter-in-horizontal" style="border:1px solid #AAA;padding:10px;color:#08526d;font-size:20px;cursor:pointer">create new survey</li>
                    <li class="col-sm-3 hvr-shutter-in-horizontal" style="border:1px solid #AAA;padding:10px;color:#08526d;font-size:20px;cursor:pointer">about</li>
                    <li class="col-sm-3 hvr-shutter-in-horizontal" style="border:1px solid #AAA;padding:10px;color:#08526d;font-size:20px;cursor:pointer">contact</li>
                </ul>
            </div>
        </div>
    </div>

</div>
<!--end feature work-->
<!--start latest post-->
<div class="latest post">
    <div class="container">
        <h1 class="text-center" style="font-weight:bold">latest post</h1>
        <div class="text-center lead">Three questionnaires were created for the following companies and products</div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="~/Content/images design/beverage-coca-cola-coke-39720.jpg" alt="...">
                <div class="caption">
                    <h3>Coca Cola</h3>
                    <p>Customer feedback questionnaire in the company about their opinion of the products in addition to the quality of the production and the manner of dealing with employees...Do customers have any opinion to increase quality?</p>
                    <p><a href="#" class="btn btn-primary" role="button">Read More</a> <a href="#" class="btn btn-default" role="button">Participation</a></p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="~/Content/images design/auto-automobile-automotive-756789.jpg" alt="...">
                <div class="caption">
                    <h3>mercedes benz</h3>
                    <p>Customers 'views were taken into consideration in modern cars, advantages and disadvantages, and how to improve the performance of the customers' eyes so that the cars are in the highest quality ...The focus of the survey was on new releases...In addition to asking customers what they think about opening new branches in the Middle East and any countries they prefer </p>
                    <p><a href="#" class="btn btn-primary" role="button">Read More</a> <a href="#" class="btn btn-default" role="button">Participation</a></p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="~/Content/images design/close-up-coat-eating-139681.jpg" alt="...">
                <div class="caption">
                    <h3>mcdonalds</h3>
                    <p>Customers 'views were taken into consideration in modern cars, advantages and disadvantages, and how to improve the performance of the customers' eyes so that the cars are in the highest quality ...The focus of the survey was on new releases...In addition to asking customers what they think about opening new branches in the Middle East and any countries they prefe</p>
                    <p><a href="#" class="btn btn-primary" role="button">Read More</a> <a href="#" class="btn btn-default" role="button">Participation</a></p>
                </div>
            </div>
        </div>
    </div>



</div>
<!--end latest post-->
<!--start  team-->
<div class="our_team text-center" style="background:url('../../Content/images design/bump-collaboration-colleagues-1068523.jpg')no-repeat center center fixed;width:100%;min-height:600px;color:#FFF ">
    <div class="team" style="background:rgba(2,2,2,0.4);min-height:600px">
        <div class="container">
            <h1 style="color:#FFF;">meet our awesome team</h1>
            <div class="row">
                <div class="col-sm-3 ">
                    <div class="person">
                        <img style="width:200px;height:200px;border-radius:50%;border:1px solid #08526d" src="~/Content/images design/received_1922046151230805.jpeg" />
                        <h3 style="color:#08526d">Majed Tello</h3>
                        <p style="font-size:15px">
                            A student at the University of Damascus<br />
                            Faculty of Informatics Engineering<br />
                            Third Year
                        </p>
                        <i class="fab fa-facebook-square fa-2x"></i>
                        <i class="fab fa-facebook-messenger fa-2x"></i>
                        <i class="fab fa-whatsapp fa-2x"></i>
                        <i class="fab fa-telegram fa-2x"></i>
                        <i class="fab fa-youtube fa-2x"></i>

                    </div>
                </div>
                <div class="col-sm-3 ">
                    <div class="person">
                        <img style="width:200px;height:200px;border-radius:50%;border:1px solid #08526d" src="~/Content/images design/1.png" />
                        <h3 style="color:#08526d">Mhamad Abo Asaly</h3>
                        <p style="font-size:15px">
                            A student at the University of Damascus<br />
                            Faculty of Informatics Engineering<br />
                            Third Year
                        </p>
                        <i class="fab fa-facebook-square fa-2x"></i>
                        <i class="fab fa-facebook-messenger fa-2x"></i>
                        <i class="fab fa-whatsapp fa-2x"></i>
                        <i class="fab fa-telegram fa-2x"></i>
                        <i class="fab fa-youtube fa-2x"></i>

                    </div>
                </div>
                <div class="col-sm-3 ">
                    <div class="person">
                        <img style="width:200px;height:200px;border-radius:50%;border:1px solid #08526d" src="~/Content/images design/leader1.jpg" />
                        <h3 style="color:#08526d">Mouhammad ahmad</h3>
                        <p style="font-size:15px">
                            A student at the University of Damascus<br />
                            Faculty of Informatics Engineering<br />
                            Third Year
                        </p>
                        <i class="fab fa-facebook-square fa-2x"></i>
                        <i class="fab fa-facebook-messenger fa-2x"></i>
                        <i class="fab fa-whatsapp fa-2x"></i>
                        <i class="fab fa-telegram fa-2x"></i>
                        <i class="fab fa-youtube fa-2x"></i>

                    </div>
                </div>
                <div class="col-sm-3 ">
                    <div class="person">
                        <img style="width:200px;height:200px;border-radius:50%;border:1px solid #08526d" src="~/Content/images design/boss.jpg" />
                        <h3 style="color:#08526d">Raed Tahan</h3>
                        <p style="font-size:15px">
                            A student at the University of Damascus<br />
                            Faculty of Informatics Engineering<br />
                            Third Year
                        </p>
                        <i class="fab fa-facebook-square fa-2x"></i>
                        <i class="fab fa-facebook-messenger fa-2x"></i>
                        <i class="fab fa-whatsapp fa-2x"></i>
                        <i class="fab fa-telegram fa-2x"></i>
                        <i class="fab fa-youtube fa-2x"></i>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!--end team-->
<!--Start testimonia-->
<div class="testimonia" style="padding-top:50px; padding-bottom:50px ; line-height:2em">
    <div class="container">
        <h2 class="text-center" style="font-weight:bold;margin-bottom:20px">What Our Clinets Say? </h2>

        <!--Start slider-->
        <div id="slider_testimonia" class="carousel slide text-center" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators" style="">
                <li style="border:2px solid #08526d" data-target="#slider_testimonia" data-slide-to="0" class="active"></li>
                <li data-target="#slider_testimonia" data-slide-to="1"></li>
                <li data-target="#slider_testimonia" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <p> Work includes an integrated environment for the best expected results. Work includes an integrated environment for the best expected results. You can send links to people you know to take their opinions on certain topics. And to obtain these results in a meaningful way</p>
                    <span style="color:#ed393e;font-size:18px">ameen abas</span>
                </div>
                <div class="item">
                    <p> Work includes an integrated environment for the best expected results. You can send links to people you know to take their opinions on certain topics. And to obtain these results in a meaningful way</p>
                    <span style="color:#ed393e;font-size:18px">ysaer taha</span>
                </div>
                <div class="item">
                    <p> Work includes an integrated environment for the best expected results. You can send links to people you know to take their opinions on certain topics. And to obtain these results in a meaningful way</p>
                    <span style="color:#ed393e;font-size:18px">maher gh</span>
                </div>

            </div>
        </div>
    </div>
    <!--end slider-->

</div>
<!--End testimonia-->